
.vacancy_title_page{
	font-size:28px;
	margin:15px 0 20px 0;
	font-family: 'MuseoSansCyrl-500';
	text-align:center;
}

.vacancy_paragraph{
font-family: 'MuseoSansCyrl-500';
margin:0;
font-size:20px;
}

.vacancy_skill{
margin:3px 0 10px 14px;
padding:0;
}
